/* Réinitialisation des styles de base */
* {
    margin: 0;
}

body{
    background: white;
}


.navbar {
    padding: 20px;
    width: 70%;
    margin: auto;
    background: white;
    padding-bottom: 50px;
}

.logo{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Cambria', cursive;
}
.logo1{
    width: 100px;
}

.logoinsta{
    width: 100px;
}
.logo2{
    width: 30%;
}

.logo2:hover{   
    color: burlywood;
    cursor: pointer;
}

.nav-links {
    justify-content: center;
    align-items: center;
    display: flex;

}

.nav-links a {
    justify-content:space-around;
    display: flex;
    margin-right: 15px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    font-family: 'Cambria', cursive;    
}


.nav-links a:hover{
    color: burlywood;
    cursor: pointer;
}