* {
    margin: 0;
}

body{
    background: white;
}

@font-face {
    font-family: "Amatic";
    src:
      url("fonts/AmaticSC-Bold.ttf") format("opentype") tech(color-COLRv1),
      url("fonts/OFL.txt") format("woff");
}

@font-face {   
    font-family: "Pattaya";
    src:
        url("fonts/Pattaya-Regular.ttf") format("opentype") tech(color-COLRv1),
        url("fonts/OFL.txt") format("woff");
}

@font-face {
    font-family: "Poiret";
    src:
        url("fonts/PoiretOne-Regular.ttf") format("opentype") tech(color-COLRv1),
        url("fonts/OFL.txt") format("woff");
}


.navbar {
    padding: 20px;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.logo{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    font-family: "Pattaya";
}
.logo1{
    width: 20%;
}

.logoinsta{
    width: 50px;
}

.logo2{
    width: 100%;
}

.logo2:hover{   
    color: burlywood;
    cursor: pointer;
}

.nav-links {
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-links a {
    justify-content:space-around;
    display: flex;
    margin-right: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px; 
    font-family: 'Amatic';   
}


.nav-links a:hover{
    color: burlywood;
    cursor: pointer;
}

.container{
    margin: auto;
    width: 70%;
    display: flex;
    margin-bottom: 80px;
    overflow: hidden;
}

.parti1{
    width: 50%;
    overflow: hidden;
    display:flex;
    margin-right: 1%;
}

.parti2{
    width: 50%;
    overflow: hidden;
    display:flex;
}

.img1{
    width: 100%;
    transition: all 0.5s;
}

.img2{
    width: 100%;
    transition: all 0.5s;
}

.parti1:hover .img1{
    transform: scale(1.1);
    cursor: pointer;
}

.parti2:hover .img2{
    transform: scale(1.1);
    cursor: pointer;
}


.document{
    margin: auto;
    border-radius: 4px;
    width: 80%;
    display: flex;
    margin-bottom: 50px;
}

.doc{
    color: black;
    font-family: 'Amatic';
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 60%;
    margin-bottom: 100px;
}

.document a{
    color: black;
    font-family: 'Poiret';
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.document a:hover{
    color: burlywood;
    cursor: pointer;
}


.container2{
    width: 80%;
    margin: auto;
    margin-bottom: 1000px;
    display: flex;
}

.doc1{
    width: 20%;
    margin-right: 6.6%;
}

.img3{
    width: 100%;
    transition: all 0.5s;
}

.doc2{
    width: 20%;
    margin-right: 6.6%;
}

.img4{
    width: 100%;
    transition: all 0.5s;
}

.doc3{
    width: 20%;
    margin-right: 6.6%;
}

.img5{
    width: 100%;
    transition: all 0.5s;
}

.doc4{
    width: 20%;
}

.img6{
    width: 100%;
    transition: all 0.5s;
}

.doc1:hover .img3{
    transform: scale(1.1);
    cursor: pointer;
}

.doc2:hover .img4{
    transform: scale(1.1);
    cursor: pointer;
}

.doc3:hover .img5{
    transform: scale(1.1);
    cursor: pointer;
}

.doc4:hover .img6{
    transform: scale(1.1);
    cursor: pointer;
}


@media screen and (max-width: 900px){
    .doc{
        margin-right: 50%;
    }

    .nav-links a{
        font-size: 15px;
        margin-right: 15px;
    }

    .logoinsta{
        width: 40px;
    }

    .doc{
        font-size: 20px;
        margin-bottom: 0px;
    }   

    .document a{
        margin-top: 30px;
        font-size: 11px;
    }

    .logo1{
        width: 30%;
    }

}